dash==2.10.2
dash-auth==2.0.0
dash-bootstrap-components==1.4.1
dash-uploader==0.6.0
Pillow
easyocr==1.7.1
pdf2image==1.16.0
numpy
openai
Flask==2.2.5
Flask-BasicAuth==0.2.0
gunicorn
torch==2.6.0
torchvision
gevent 
google-cloud-vision==3.7.2
